.aboutMe{
    width: 100%;
    text-align: left;

    margin-top: -9%;
    margin-left: 2%;
}

@media (max-width: 800px) {
    .aboutMe{
        margin-top: 1%;
        margin-left: 2%;
    }

    .aboutMe p{
        width: 90%;
    }
}