nav{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;

    padding-bottom: 1.5%;

    border-bottom: 1px solid black;
}
nav .butNav{
    width: 15%;
    height: 2em;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 800px) {
    nav{
        flex-wrap: wrap;
        padding-bottom: 1%;
    
    }
    nav .butNav{
        width: auto;
        height: auto;

        margin: 3%;
    }
}
